version: '3'

volumes:
  nodemodules:

services:
  db:
    ports:
      - "5434:5432"
    image: postgres
  broker:
    image: rabbitmq

  worker:
    build: .
    command: celery -A affirmative worker --loglevel=info
    depends_on:
      - broker
    env_file:
      - web.env
    volumes:
      - .:/django

  web:
    build: .
    command: ["./wait-for.sh", "db:5432", "--", "python", "manage.py", "runserver", "0.0.0.0:8000"]
    links:
      - broker
    depends_on:
      - db
    env_file:
      - web.env
    volumes:
      - .:/django
    ports:
      - "8002:8000"
    tty: true
    stdin_open: true

  assets:
    build:
      context: ./
      dockerfile: Dockerfile.assets
    volumes:
      - .:/django
      - nodemodules:/django/node_modules
    command: npm run build
