# SECRETS
POSTGRESQL_PASSWORD=mysecretpassword
SECRET_KEY=FILL_THIS_IN
SOUNDCLOUD_CLIENT_ID=FILL_THIS_IN
SOUNDCLOUD_CLIENT_SECRET=FILL_THIS_IN
SOUNDCLOUD_USERNAME=FILL_THIS_IN
SOUNDCLOUD_PASSWORD=FILL_THIS_IN
