# OPTIONAL SECRETS
PROD=FILL_THIS_IN

# MANDATORY SECRETS
DATABASE_URL=postgres://postgres:mysecretpassword@db/postgres
SECRET_KEY=FILL_THIS_IN
SOUNDCLOUD_CLIENT_ID=FILL_THIS_IN
SOUNDCLOUD_CLIENT_SECRET=FILL_THIS_IN
SOUNDCLOUD_USERNAME=FILL_THIS_IN
SOUNDCLOUD_PASSWORD=FILL_THIS_IN
