.bare-button {
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: block;
}

.bare-button--archive {
  fill: $grey-color;
}

.bare-button--content {
  display: block;
}

.bare-button__svg-icon--bright {
  fill: $light-color;
}

.bare-button__svg-icon {
  &:hover {
    fill: $red-color;
  }
}
