.header {
  display: flex;
  align-items: baseline;
  grid-area: header;
  background-color: $red-color;
  padding: $md-spacing;
}

.header__heading {
  margin: 0 $md-spacing 0 0;
  color: $light-color;
}

.header__nav-link {
  display: inline-block;
  margin-right: $md-spacing;
}
