$track-active-background-color: $blue-color;
$track-active-foreground-color: $light-color;

.track {
  display: flex;
  align-items: center;
  padding: $sm-spacing;
  border: 2px solid $light-color;
  border-radius: 4px;
}

.track--active {
  background-color: $track-active-background-color;
  border: 2px solid $track-active-background-color;
}

.track__button {
  display: inline-block;

  .track--active & {
    fill: $track-active-foreground-color;
  }
}

.track__button--pause-play {
  margin-right: $sm-spacing;
}

.track__button--archive {
  display: inline-block;
  margin-left: auto;
}

.track__byline {
  display: inline-block;

  .track--active & {
    color: $track-active-foreground-color;
  }
}
