/* postcss-bem-linter: ignore */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

@function repeat-area-name($string, $n) {
  $fullstring:"";
  @for $i from 1 through $n {
    $fullstring: $fullstring + $string;
    @if $i != $n {
      $fullstring: $fullstring + ' ';
    }
  }
  @return $fullstring;
}

/* postcss-bem-linter: ignore */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1%;
  grid-template-rows: auto;
  grid-template-areas: "#{repeat-area-name('header', 12)}"
    ". #{repeat-area-name('main', 10)} ."
    "#{repeat-area-name('footer', 12)}";
}

/* postcss-bem-linter: ignore */
.grid__player {
  position: fixed;
  bottom: 0;
  width: 100%;
}
